header {
	background-color: #FFFFFF;
	height: 70px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

header .logo {
	margin-left: 20px;
display: flex;
	 align-items: center;
color: white;
       font-size: 20px;
}

/* Responsive Design */
@media (max-width:768px) {
	header .logo {
		margin-left: 10px;
		font-size: 18px;
	}
}
