.container .places {
	margin-top: 30px;
}

.container .places h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.container .places article {
	margin-bottom: 40px;
	border: 1px solid #CCCCCC;
	padding: 20px;
	border-radius: 4px;
}

.container .places .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.container .places h2 {
	font-size: 24px;
	margin: 0;
}


.flex-container {
	display: flex;
}

.flex-item {
	flex: 1 1 50%;
	padding: 10px;
}

.container .places .price_by_night {
	font-size: 18px;
	font-weight: bold;
}

.container .places .information {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

container .plcaes .information div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.container .places .information i {
	margin-right: 10px;
}

.container .places .user {
	margin: 10px 0;
}

.container .places .description {
	margin-bottom: 20px;
}

.container .places .amenities {
	margin-bottom: 2px;
}

.container .places .reviews {
	margin-bottom: 20px;
}

.container .places .amenities h2,
.container .places .reviews h2 {
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
}

.container .places .amenities ul,
.container .places .reviews ul {
	list-style: none;
	padding: 0;
}

.container .places .amenities li,
.container .places.reviews li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.container .places .amenities li i,
.container .places .reviews li i {
	margin-right: 10px;
}
