html {
       position: relative;
       min-height: 100%;
}

body {
       color: #484848;
       display: flex;
       flex-direction: column;
       font-size: 14px;
       font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
       line-height: 1.5;
       min-height: 100vh;
       margin: 0;
       padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;
}

a {
color: #007bff;
       text-decoration: none;
}
button {
cursor: pointer;
}


div.container {
       max-width: 80%;
       margin: 30px auto;
       display: flex;
       flex-direction: column;
       align-items: stretch;
}

@media screen and (min-width: 1800px){
       div.container {
              max-width: 80%;
       }
}
